{% extends  'login_base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create an account</h5>
                    <form method="post" >
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                        <button class="btn btn-sm btn-primary btn-block text-uppercase" type="submit">Create</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
